html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}
div {
    border: 1px solid White;
}

/*Navigation Section */

.top-navigation {
	background-color: white;
}

.top-navigation > .content {
	width: 970px
	height: 70px
	margin: 0 auto;
	padding: 0px 80px;
	margin-left: auto;
	margin-right: auto;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 10px;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: white;
    padding: 20px 15px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
    height: 38px;
    width: 26px;
    margin-left: 75px;
    margin-top: 16px;
    margin-bottom: 17px;
}

