html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}

/*Navigation Section */

.top-navigation {
	background-color: white;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 80px;
	margin-left: auto;
	margin-right: auto;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 10px;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: white;
    padding: 20px 15px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
    height: 38px;
    width: 26px;
    margin-left: 75px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.introduction {
	background-image: url("/Users/melissaanselmo/Projects/Startup_landingpage/img/person-computer.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	width: 85rem;
	background-position: center-bottom;
	overflow: auto;
}

h1 {
	font-size: 3.125rem;
	text-align: center;
	font-family:'Roboto', sans-serif;
	margin-top: 18rem;
	color: white;
	font-weight: 300;
}

h3 {
	font-size: 2rem;
	color: white;
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-weight: 300;
}

/*Button Syle*/

.introduction .big-button {
	color: white;
	text-align: center;
	margin-top: 1.563rem;

}
button {
	margin: 0 auto;
	width: 9.688rem;
	background-color: #f15a29;
    border-color: #f15a29;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: none;
	border-style: none;
	font-size: 1.125rem;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	line-height: 1.33;
}

button:hover {
	background: #ff8c00;
}

/*Icon Cases Section*/

.cases li{
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.cases li {
 display: inline-block;
}


h2 {
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-weight: 200;
	font-size: 2rem;
}

.cases h3 {
	color: black;
	font-size: 1.5rem;
	text-align: center;
}