body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

#menu {
    width: 100%;
    height: 75px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: right;
    background-color: white;
    
}

#menu ul {
    float: right;
    height: auto;
    padding: 20px 10px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu li a{ 
text-decoration: none; 
color: grey;
}

#menu li a:hover{ 
color: #1c1e1e;
}
