html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
 /*   background-color: LightGray; */
}

.content {
	margin: 0 auto;
	width: 970px;
	text-align: center;	
}

/*Navigation Section*/

.top-navigation {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 80px;
	margin-left: auto;
	margin-right: auto;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 10px;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: white;
    padding: 20px 15px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
    height: 38px;
    width: 26px;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.introduction {
	background-image: url("../img/person-computer.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	background-position: center bottom;
	overflow: auto;
}

h1 {
	font-size: 3.125rem;
	text-align: center;
	font-family:'Roboto', sans-serif;
	margin-top: 18rem;
	color: white;
	font-weight: 300;
}

h3 {
	font-size: 2rem;
	color: white;
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-weight: 300;
}

/*Button Syle*/

.introduction .big-button {
	color: white;
	text-align: center;
	margin-top: 1.563rem;

}
button {
	margin: 0 auto;
	width: 9.688rem;
	background-color: #f15a29;
    border-color: #f15a29;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: none;
	border-style: none;
	font-size: 1.125rem;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	line-height: 1.33;
}

button:hover {
	background: #ff8c00;
}

/*Icon Cases Section  Vessels...need to define margin....*/


.cases {
	background-color: white;
}
.cases li{
	padding: 10px;
}

.cases li {
 display: inline-block;
}

h2 {
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-weight: 200;
	font-size: 2rem;
}

.cases h3 {
	color: black;
	font-size: 1.5rem;
	text-align: center;
}

/*Footer*/

footer {
	text-align: center;
}

h5 {
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 20px
}


/*Circle Borders Around Media icons*/

.social_media .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 0.5rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

/*Media Icon Colors */
.twitter {
    color: #55acee;
}

.facebook {
    color: #4c66a4;
}

.instagram {
    color: #3f729b;
    }

.copy {
	color: gray;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}